.btn{
  cursor: pointer;
  display: block;
  background: $main;
  text-align: center;
  color: #fff;
  font-weight: 500;
  line-height: 1.4285714286rem;
  border: none;
  border-radius: .75rem;
  padding: 0.7142857143rem 1.4285714286rem;
  &:hover{
    background: darken($main, 1);
  }
  &.light{
    background: rgb($main, .09);
    color: $main;
    &:hover{
      background: rgb($main, .07);
      text-decoration: underline;
    }
  }
}