.btn{
  display: block;
  background: $main;
  text-align: center;
  color: $light;
  font-weight: 500;
  line-height: 1.4285714286rem;
  border-radius: 0.2857142857rem;
  padding: 0.7142857143rem;
  &.pale{
    background: rgb($main, .1);
    color: $main;
  }
  &.light{
    background: $light;
    color: $main;
  }
}