body{
  font-family: 'Roboto', sans-serif;
  color: $main;
}

a{
  text-decoration: none;
  color: $main;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 500;
  line-height: 2.2857142857rem;
}

p{
  line-height: 1.6rem;
}

ul{
  list-style: none;
}