.books-list{
  padding-top: 2.5rem;
  p{
    position: absolute;
    z-index: -1;
    padding: .2rem 0;
  }
  h1{
    font-size: 1.4285714286rem;
    margin-bottom: 1.1428571429rem;
  }
  .list{
    display: flex;
    flex-flow: column;
    gap: 1.1428571429rem;
    .book{
      display: flex;
      width: 100%;
      box-shadow: 0 0 50px rgb(#535353, .08);
      border-radius: 0.5714285714rem;
      overflow: hidden;
      .cover{
        aspect-ratio: 512/800;
        width: 6rem;
        background-color: #ddd;
        background-size: cover;
        background-position: center;
      }
      .content{
        flex: 1;
        display: flex;
        flex-flow: column;
        padding: 1rem 0.6428571429rem 0.9285714286rem 0.7142857143rem;
        .type{
          color: #292929;
          font-size: 0.7142857143rem;
          font-weight: 300;
          line-height: 0.9728571429rem;
        }
        .title{
          font-weight: 500;
          line-height: 1.3621428571rem;
          @media (max-width: 769px){
            margin-bottom: 0.2857142857rem;
          }
        }
        .autor{
          font-size: 0.7142857143rem;
          line-height: 0.9728571429rem;
        }
      }
    }
  }
}