.books-list{
  padding-top: 2.5rem;
  p{
    position: absolute;
    z-index: -1;
    padding: .2rem 0;
  }
  h1{
    font-size: 1.4285714286rem;
    margin-bottom: 1.1428571429rem;
  }
  .list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1.1428571429rem;
    .book{
      display: block;
      aspect-ratio: 512/800;
      // background: lighten($bg, 30);
      box-shadow: 0 0 50px rgb(#1d1d1d, .2);
      border-radius: 0.5714285714rem;
      overflow: hidden;
      background-size: cover;
    }
  }
}