.books-list{
  padding-top: 2.5rem;
  p{
    position: absolute;
    z-index: -1;
    padding: .2rem 0;
  }
  h1{
    font-size: 1.4285714286rem;
    margin-bottom: 1.1428571429rem;
  }
  .list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 1.1428571429rem;
    .book-cont{
      display: block;
      border-radius: .75rem;
      box-shadow: 0 1.625rem 3.75rem rgb(#000, .1);
      overflow: hidden;
      .cover-container{
        background: #d2d2d2;
        border-radius: .25rem;
        .cover-cont{
          width: 100%;
          height: 100%;
          padding: .8125rem 2.25rem;
          .cover{
            max-width: 6.125rem;
            aspect-ratio: 512/800;
            background-color: #888;
            background-size: cover;
            background-position: center;
            margin: 0 auto;
          }
        }
      }
      .about{
        padding: .625rem .5625rem 1rem .75rem;
        .title{
          font-family: "Playfair Display", serif;
          font-weight: 500;
          margin-bottom: .125rem;
        }
        .author{
          font-family: "Inter", sans-serif;
          font-size: .75rem;
          color: #515151;
        }
      }
    }
  }
}