.details{
  padding-top: 2rem;
  padding-bottom: 2rem;
  h4{
    margin-bottom: 0.5714285714rem;
  }
  .about{
    display: flex;
    gap: 1.5842857143rem;
    margin-bottom: 1.2178571429rem;
    .cover{
      aspect-ratio: 512/800;
      width: 100%;
      max-width: 9.8rem;
      background-color: #ddd;
      background-size: cover;
      background-position: center;
    }
    .cont{
      display: flex;
      flex-flow: column;
      justify-content: center;
      ul{
        display: flex;
        flex-flow: column;
        gap: 0.5714285714rem;
        .title{
          font-size: 1.7142857143rem;
        }
        li{
          line-height: 1.6rem;
          span{
            font-weight: 500;
          }
        }
      }
      .btn{
        margin-top: 1.1428571429rem;
      }
    }
  }
  .description{
    margin-bottom: 1.2178571429rem;
  }
  .contents{
    border-radius: 0.5714285714rem;
    box-shadow: 0 0 5rem rgb(#878787, .15);
    padding: 1rem;
    a{
      display: block;
      padding: 1rem 0;
      &:hover{
        color: $main;
      }
    }
  }
}