.details{
  padding-top: 2rem;
  padding-bottom: 2rem;
  h4{
    margin-bottom: 0.5714285714rem;
  }
  .title{
    font-size: 1.7142857143rem;
    margin-bottom: 1.1428571429rem;
  }
  .cont{
    display: flex;
    gap: 1.5842857143rem;
    margin-bottom: 1.2178571429rem;
    img{
      display: block;
      width: 100%;
      max-width: 9.8rem;
      border-radius: 0.5714285714rem;
    }
    .about{
      display: flex;
      flex-flow: column;
      justify-content: center;
      ul{
        li{
          span{
            font-weight: 500;
          }
        }
      }
      .btn{
        margin-top: 1.1428571429rem;
      }
    }
  }
  .description{
    margin-bottom: 1.2178571429rem;
  }
  .contents{
    border-radius: 0.5714285714rem;
    box-shadow: 0 0 8px rgb(#121212, .12);
    padding: 1rem;
    a{
      display: block;
      padding: 1rem 0;
    }
  }
}