.story{
  padding-top: 3rem;
  padding-bottom: var(--wrapper-padding);
  .progress{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 5px;
    background: $main;
  }
  h1{
    text-align: center;
    line-height: 4rem;
  }
  .divider{
    border-bottom: 1px solid rgb(#000, .1);
    margin: 3rem 0;
  }
  .text{
    font-family: 'Roboto', sans-serif;
    p{
      margin-bottom: 0.8571428571rem;
    }
  }
  nav{
    display: flex;
    flex-flow: column;
    gap: .75rem;
    margin-top: 2rem;
  }
}