.story{
  padding-top: 3rem;
  padding-bottom: var(--wrapper-padding);
  h1{
    text-align: center;
  }
  .divider{
    border-bottom: 1px solid #eee;
    margin: 2rem 0;
  }
  p{
    margin-bottom: 0.8571428571rem;
  }
  nav{
    display: flex;
    flex-flow: column;
    gap: .75rem;
    margin-top: 2rem;
  }
}